body{
    background-image: url(Images/1920px-Polaris-Torpedo-Launch.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: right;
    font-size: 255;
}
h2{
    text-align: center;
}
#t1{
    text-align: center;
    font-size: large;
}
footer{
display: flex;
justify-content: center;
padding: 5;
background-color: grey;
}
.fa-discord{
    color: blue;
    float: right;

}